body{
    background: #1B1E21;
    color: #f0f0f0;
}
.dark_nav{
    background-color: #343a40 ;
    text-transform: none;
    text-blink: none;
    font-family: Rationale, sans-serif;
    font-size: 16px;
}

#threejs{
    text-transform: none;
    text-blink: none;
    font-size: 0;
    cursor: grab;
}
#threejs:active{
    cursor: grabbing;

}
.navbar{
    /*display: inline-flex !important;*/
}
.input-file{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.btn-left{
    border-radius: 0.25rem 0 0 0.25rem!important;
}
.btn-right{
    border-radius: 0 0.25rem 0.25rem 0!important;
}